:root {
  --background-color: #0d1117;
  --text-color: #ffffff;
  --outline: #30363d;
  --input-background: #010409;
}

html{
  background-color: var(--background-color);
}

.App {
    background-color: var(--background-color);
      color: var(--text-color);
  text-align: center;
  min-height: 100vh;
}

.buttons-container{
  display: flex;
  margin-left: auto;
  margin-right: 26px;
  margin-top: 20px;
  width: 170px;
  justify-content: space-between;
}